@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #3d459c;
  --black-color: #f0f2ef;
  --lightGray-color: #e4e4e4;
  --gray-color: #f0f2ef;
  --brown-color: #46364a;
  --dark-color: #121212;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
